body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #b2d8f4;
}
h1{
    font-weight: bold;
    font-size:  50px;
}
p{
    font-size: 20px;
}
.h1{
    margin: 150px 300px;
    border: 15px solid;
    border-color: #b2d8f4;
    padding: 10px;
    border-radius: 30px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
.h2{
    margin: 150px 300px;
    border: 15px solid;
}
